.columnas{
    background-color: rgba(131, 85, 177, 0.275);
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
    border-right: blueviolet;
}

h2{
    color: white;
}

p{
    color: white;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
}

.formulario input,
.formulario textarea{
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 17px 14px;
    width: 70%;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 15px;
    width: auto;
    cursor: pointer;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario .accion{
    text-align: center;
}
