body{
  font-size: 16px;
  line-height: 20px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/016/626/original/dark-cosmos-template-video.jpg);
}

.holder{
  max-width: 960px;
  margin: auto;
}

